.vscode/
Testing/TestImport/
AddonContent/*
!AddonContent/.gitkeep 
Target/
*.blend1
*.png~

*.csproj.old.*

# Godot-specific ignores
.godot/
.import/
export.cfg

# Mono-specific ignores
.mono/
mono_crash.*
data_*/
